/* Copyright 2013, 2014 Ricardo Tubio-Pardavila

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License. */
/* Copyright 2013, 2014 Ricardo Tubio-Pardavila

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License. */
body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  background-color: #F0F0F0;
  overflow: hidden; }

#content {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  text-align: justify;
  line-height: 175%;
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 5%; }

#logo {
  float: left;
  opacity: 0.725; }

h1 {
  font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
  color: #0F3E62; }

h2 {
  font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
  color: #0F3E62; }

h3 {
  font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
  color: #0F3E62; }

form p label {
  display: inline-block;
  width: 175px; }

form p input, form p select, form p span {
  width: 200px; }

.v-line {
  border-left: thick solid #ff0000; }

/* Copyright 2013, 2014 Ricardo Tubio-Pardavila

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License. */
/* Copyright 2013, 2014 Ricardo Tubio-Pardavila

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License. */
body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  background-color: #F0F0F0;
  overflow: hidden; }

#content {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  text-align: justify;
  line-height: 175%;
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 5%; }

#logo {
  float: left;
  opacity: 0.725; }

h1 {
  font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
  color: #0F3E62; }

h2 {
  font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
  color: #0F3E62; }

h3 {
  font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
  color: #0F3E62; }

form p label {
  display: inline-block;
  width: 175px; }

form p input, form p select, form p span {
  width: 200px; }

.v-line {
  border-left: thick solid #ff0000; }

a.link {
  cursor: pointer;
  color: #0F3E62;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.75em; }

a.link:link, a.link:visited {
  text-decoration: none; }

a.blue-action {
  font-weight: bold;
  color: blue;
  border: 2px solid blue;
  border-radius: 5px;
  background-color: #005CB8;
  padding: 2px;
  opacity: 0.6; }

.action {
  font-weight: bold;
  color: black;
  background-color: #FFFFA3;
  padding: 2px;
  border: 2px solid black;
  border-radius: 5px;
  opacity: 0.6; }

.green-action {
  font-weight: bold;
  color: green;
  border: 2px solid green;
  background-color: #A3C2C2;
  padding: 2px;
  border-radius: 5px;
  opacity: 0.6; }

.red-action {
  font-weight: bold;
  color: #8F0000;
  border: 2px solid #8F0000;
  background-color: #BC6666;
  padding: 2px;
  border-radius: 5px;
  opacity: 0.6; }

a.action, a.green-action, a.red-action {
  cursor: pointer; }

a.undo {
  font-weight: bold;
  color: grey;
  background-color: #A3A3C2;
  padding: 2px;
  border-radius: 5px;
  opacity: 0.6; }

a.button-light {
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
  background-color: #0F3E62;
  color: white;
  opacity: 0.6; }

a.button-dark {
  border: 2px solid #0F3E62;
  border-radius: 5px;
  padding: 5px;
  background-color: #0F3E62;
  color: white;
  opacity: 0.9; }

a.button-dark:link, a.button-dark:visited {
  text-decoration: none; }

a.button-dark:hover {
  text-decoration: underline; }

a.button-dark:active {
  text-decoration: underline; }

a.button {
  padding: 5px;
  margin-right: 0;
  margin-left: auto; }

a.button:link, a.button:visited {
  color: white;
  text-decoration: none; }

a.button:hover {
  color: white;
  text-decoration: none; }

a.button:active {
  color: black;
  text-decoration: underline; }

/* Copyright 2013, 2014 Ricardo Tubio-Pardavila

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License. */
/* Copyright 2013, 2014 Ricardo Tubio-Pardavila

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License. */
body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  background-color: #F0F0F0;
  overflow: hidden; }

#content {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  text-align: justify;
  line-height: 175%;
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 5%; }

#logo {
  float: left;
  opacity: 0.725; }

h1 {
  font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
  color: #0F3E62; }

h2 {
  font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
  color: #0F3E62; }

h3 {
  font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
  color: #0F3E62; }

form p label {
  display: inline-block;
  width: 175px; }

form p input, form p select, form p span {
  width: 200px; }

.v-line {
  border-left: thick solid #ff0000; }

table.rr-table {
  font-family: sans-serif;
  text-align: center;
  vertical-align: middle; }

td.rr-e-t {
  background-color: white;
  opacity: 0.6;
  border-radius: 5px;
  color: #0F3E62;
  font-weight: bold;
  padding: 5px; }

td.rr-e {
  padding: 15px 2px; }

td.row-separator {
  padding: 1px;
  background-color: #0F3E62; }

td.col-separator {
  background-color: #0F3E62;
  opacity: 0.6;
  border-radius: 5px; }

/* User details table */
table.table-user-details {
  font-family: sans-serif;
  font-size: 90%;
  text-align: center;
  vertical-align: middle;
  background-color: #E8E8E8;
  opacity: 0.6; }

/* Copyright 2013, 2014 Ricardo Tubio-Pardavila

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License. */
/* Copyright 2013, 2014 Ricardo Tubio-Pardavila

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License. */
body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  background-color: #F0F0F0;
  overflow: hidden; }

#content {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  text-align: justify;
  line-height: 175%;
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 5%; }

#logo {
  float: left;
  opacity: 0.725; }

h1 {
  font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
  color: #0F3E62; }

h2 {
  font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
  color: #0F3E62; }

h3 {
  font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
  color: #0F3E62; }

form p label {
  display: inline-block;
  width: 175px; }

form p input, form p select, form p span {
  width: 200px; }

.v-line {
  border-left: thick solid #ff0000; }

#toolbar {
  position: fixed;
  top: 35px;
  left: -20px;
  margin-right: 2px;
  margin-left: auto;
  width: 160px;
  /* height: 400px; */
  opacity: 0.95;
  padding: 30px;
  line-height: 40px;
  border-radius: 10px;
  background-color: #2F3236;
  font-weight: bold;
  text-align: right;
  color: #A6A6A6; }

#toolbar_header {
  opacity: 0.9;
  height: 150px; }

#svg_logo {
  position: fixed;
  top: 50px;
  left: 59px; }

.toolbar_button {
  margin-right: -10px;
  line-height: 300%; }

div#toolbar a.toolbar_button:link,
div#toolbar a.toolbar_button:visited {
  color: #A6A6A6;
  text-decoration: none; }

div#toolbar a.toolbar_button:hover {
  color: white;
  text-decoration: none; }

#toolbar_footer {
  text-align: center;
  font-size: 60%;
  line-height: 200%; }

/*# sourceMappingURL=satnet-web.css.map */
