python3-django
python3-yaml
python3-coverage
python3-defusedxml
python3-django-countries
python3-django-nose
python3-nose (might it be python3-nose2?)
python3-numpy
python3-oauthlib
python3-psycopg2
python3-dateutil
python3-openid
python3-requests
python3-requests-oauthlib
python3-sh
python3-six


datadiff==1.1.6
django-allauth==0.19.1
django-datetime-widget==0.9.3
django-extensions==1.5.0
django-ipware==0.1.0
django-jsonview==0.4.3
django-periodically==0.3.0
django-session-security==2.2.3
django-user-sessions==1.1.0
djorm-pgarray==1.2
pusher-rest==0.1.0
pyephem==3.7.5.3
python-coveralls==2.5.0
pytz==2014.10
rpc4django==0.3.0
simplekml==1.2.7
