Django
cffi
cryptography
defusedxml
django-allauth
django-cors-headers
django-countries
django-datetime-widget
django-extensions
django-ipware
django-jsonview
django-nose
#django-periodically
django-preserialize
django-session-security
django-user-sessions
ephem
idna
mysqlclient
ndg-httpsclient
nose
numpy
oauthlib
pusher
pyOpenSSL
pyasn1
pycparser
python-dateutil
python3-openid
pytz
requests
requests-oauthlib
rpc4django
simplekml
six
urllib3
