<div class='modal-header'>
    <h3 class='modal-title'>Manage Cluster ({{ cluster.identifier }})</h3>
</div>

<style>label.control-label { font-size: 85%; }</style>

<div class='modal-body' style='display: inline-block; width: 100%'>
    <form name='form'>
    <div style='display: table; table-layout: fixed; border-spacing: 5px; width: 100%'>
        <div class='right-border' style='display: table-cell; width: 200px'>

            <div>
                <h4>Launch Date (UTC)</h4>
                <div class="dropdown">
                    <a class="dropdown-toggle my-toggle-select"
                       id="dLabel" role="button"
                       data-toggle="dropdown" data-target="#" href="">
                        <div class="input-append">
                            <input type="text" class="input-large"
                                   ng-disabled="!cluster.edit"
                                   data-ng-model="cluster.date">
                            <span class="add-on">
                                <i class="icon-calendar"></i>
                            </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu"
                            role="menu" aria-labelledby="dLabel">
                        <datetimepicker
                            ng-show="cluster.edit"
                            data-ng-model="cluster.date"
                            data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }">
                        </datetimepicker>
                    </ul>
                </div>
            </div>

            <div><h4>Cluster's TLE</h4></div>
            <div class='control-group'
                    ng-class="{ 'has-error': form.tle_l1.$invalid }">
                <label class='control-label' for='tle_l1'>First line</label>
                <input type='text' name='tle_l1'
                       class='form-control' style='width: 100%'
                       ng-model="cluster.tle_l1"
                       ng-pattern='/^[a-zA-Z0-9.\s-]{69}$/'
                       ng-disabled="!cluster.edit"
                       required />
            </div>

            <div class='control-group'
                    ng-class="{ 'has-error': form.tle_l2.$invalid }">
                <label class='control-label' for='tle_l2'>Second line</label>
                <input type='text' name='tle_l2'
                       class='form-control' style='width: 100%'
                       ng-model="cluster.tle_l2"
                       ng-pattern='/^[a-zA-Z0-9.\s-]{69}$/'
                       ng-disabled="!cluster.edit"
                       required />
            </div>
            <hr/>

            <div style='display: table-row'
                 ng-hide="cluster.edit">
                <div style='display: table-cell'>
                    <a class='green-link link action-link'
                       ng-click="editCluster()"
                       ng-hide="is_anonymous">(edit)</a>
                </div>
            </div>
            <div style='display: table-row'
                 ng-show="cluster.edit">
                <div style='display: table-cell; width: 50%'>
                    <a class='green-link link action-link'
                       ng-click="saveCluster()">(save)</a>
                </div>
                <div style='display: table-cell; width: 50%'>
                    <a class='red-link link action-link'
                       ng-click="cancelCluster()">(cancel)</a>
                </div>
            </div>

        </div>
        <div style='display: table-cell; width: 20px'></div>
        <div style='display: table-cell; width: 60%'>
            <div class='bottom-border'>
            <div style='display: table-cell'><h4>UFO Objects</h4></div>
            <div ng-hide="cluster.no_ufos">
                <p class='no-items'>(no ufos)</p>
            </div>

            <span class='link ufo-item'
                ng-click="editingUfo(value.object_id)"
                ng-repeat="(index, value) in cluster.ufos">
                Object #{{value.object_id}}<br ng-show="(index+1)%3==0" />
            </span>
            <hr/>

            <div style='display: table-row'>
                <div style='display: table-cell; font-size: 75%'>
                    <a class='green-link'
                       ng-show="(cluster.no_ufos < cluster.max_objects) && (!is_anonymous)"
                       ng-click="add()">(+ add)</a>
                    <a class='red-link'
                       ng-hide="(cluster.no_ufos < cluster.max_objects)">
                        MAXIMUM
                    </a>
                </div>
                <div ng-show="cluster.no_ufos > 0">
                    <a class='red-link action-link'
                       ng-hide="is_anonymous"
                       ng-click="remove()">(- del)
                    </a>
                </div>
            </div>
            </div>



            <div class='bottom-border'>
                <div ng-hide="cluster.no_editing">
                    <p class='no-items'>(none in edition)</p>
                </div>
                    <ol class='unsalted-list'>
                    <li class='ufo-item'
                        ng-repeat="(index, i) in cluster.editing">

                        <div style='display: table-row'>
                            <div style='display: table-cell; width: 50%; vertical-align: middle'>
                                <h5>Object #{{ i.object_id }}</h5>
                            </div>
                            <div class='control-group'
                                    style='column-span: all; vertical-align: middle'
                                    ng-class="{ 'has-error': form.i_callsign.$invalid }">
                                <label class='control-label' for='i_callsign'>Callsign</label>
                                <input type='text' name='i_callsign'
                                    class='form-control' style='width: 100%'
                                    ng-disabled="!i.edit"
                                    ng-model="i.callsign"
                                    ng-pattern='/^[a-zA-Z0-9]{3,8}$/'
                                    required />
                            </div>
                        </div>

                        <form name="tle-select" ng-controller="tleSelectCtrl">
                            <input type="radio" ng-model="i.tle_select" value='manual'>manual</input>
                            <input type="radio" ng-model="i.tle_select" value='auto'>auto</input>
                        </form>

                        <div style='display: table-row'>

                            <div style='display: table-cell'>
                                <div class='control-group'
                                    ng-class="{ 'has-error': form.i_tle_l1.$invalid }">
                                    <label class='control-label' for='i_tle_l1'>First line</label>
                                    <input type='text' name='i_tle_l1'
                                        class='form-control' style='width: 100%'
                                        ng-disabled="!i.edit"
                                        ng-model="i.tle_l1"
                                        ng-pattern='/^[a-zA-Z0-9.\s-]{69}$/'
                                        required />
                                </div>
                            </div>
                            <div style='display: table-cell'>
                                <div class='control-group'
                                    ng-class="{ 'has-error': form.i_tle_l2.$invalid }">
                                    <label class='control-label' for='i_tle_l2'>Second line</label>
                                    <input type='text' name='i_tle_l2'
                                        class='form-control' style='width: 100%'
                                        ng-disabled="!i.edit"
                                        ng-model="i.tle_l2"
                                        ng-pattern='/^[a-zA-Z0-9.\s-]{69}$/'
                                        required />
                                </div>
                            </div>

                        </div>

                        <div style='display: table-row'>
                            <div style='display: table-cell'>
                                <div class='control-group'
                                    ng-class="{ 'has-error': form.i_tle_id.$invalid }">
                                    <label class='control-label' for='i_tle_id'>TLE ID</label>
                                    <input type='text' name='i_tle_id'
                                        class='form-control' style='width: 100%'
                                        ng-disabled="!i.edit"
                                        ng-model="i.tle_id"
                                        ng-pattern='/^[a-zA-Z0-9]{3,8}$/'
                                        required />
                                </div>
                            </div>
                        </div>

                        <div style='display: table-row'>

                            <div style='display: table-cell'>
                                <a class='green-link link action-link'
                                    ng-disabled="!i.edit"
                                    ng-click="save(i.object_id)">(save)</a>
                            </div>
                            <div style='display: table-cell'>
                                <a class='red-link link action-link'
                                    ng-disabled="!i.edit"
                                    ng-click="cancel(i.object_id)">(cancel)
                                </a>
                            </div>

                        </div>
                        <hr/>

                </li>
                </ol>

            </div>



            <div>
                <div><h4>Identified</h4></div>
                <div ng-hide="cluster.no_identified">
                    <p class='no-items'>(none identified)</p>
                </div>
                    <ol class='unsalted-list'>
                    <li class='ufo-item'
                        ng-repeat="(index, i) in cluster.identified">

                        <div style='display: table-row'>
                            <div style='display: table-cell; width: 50px'>
                                <a class='red-link link action-link'
                                   ng-hide="is_anonymous"
                                   ng-click="forget(i.object_id)">(forget)</a>
                            </div>
                            <div style='display: table-cell; vertical-align: middle'>
                                <h5 style='vertical-align: middle'>
                                    <p>Object #{{ i.object_id }}
                                        <span ng-click="editingIded(i.object_id)"
                                                style='font-size: 75%'>
                                                (as {{ i.callsign }})
                                        </span>
                                    </p>
                                </h5>
                            </div>

                        </div>
                        <hr/>

                </li>
                </ol>

            </div>

        </div>
    </div>
    </form>
</div>

<div class='modal-footer'>
    <button class='btn btn-primary' ng-click="hide()">(hide)</button>
</div>