NOT: Markdown
NOT: Twisted
NOT: cffi
NOT: characteristic
NOT: cryptography
NOT: datadiff
NOT: distribute
NOT: django-filter
NOT: django-ipware
NOT: django-jquery
NOT: django-jsonfield
NOT: django-jsonview
NOT: django-leaflet
NOT: django-passwords
NOT: django-rest-auth
NOT: django-selenium
NOT: djangorestframework
NOT: eventlog
NOT: geoip2
NOT: ipaddr
NOT: maxminddb
NOT: pyOpenSSL
NOT: pyasn1
NOT: pyasn1-modules
NOT: pycparser
NOT: pyserial
NOT: service-identity
NOT: simplekml
NOT: zope.interface
