/*
font-family: Monospace, OpenSymbol, 'Linux Libertine', Arial, Helvetica;
dc-blue: #0F3E62;
*/

body
{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    background-color: #F0F0F0;
}

#content
{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    text-align: justify;
    line-height: 175%;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 5%;
}

#logo
{
    float: left;
    opacity: 0.75;
}

h1
{
    font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma;
    color: #0F3E62;
}

h2
{
    font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma;
    color: #0F3E62;
}

h3
{
    font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma;
    color: #0F3E62;
}

form p label
    { display: inline-block; width: 175px; }
form p input,
form p select,
form p span
    { width: 200px; }

