{% comment %}
   Copyright 2013, 2014 Ricardo Tubio-Pardavila

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
{% endcomment %}

{% load staticfiles %}

<h1>Staff's Home</h1>

<p>
This is the home for the <i>staff</i> users; i.e., for those users with 
privileges for managing the main resources of the network. Sections below 
contain a brief description of the tools available for performing the 
<b>regular maintenance operations</b> that the network, in accordance with its
design, may require. In case any kind of problem appears that was not taken 
into account in the original design, a set of external tools is provided for
performing <b>exceptional maintenance operations</b> on the system.
</p>

<h2>Regular Maintenance Operations</h2>

<h3>User Management Operations</h3>

<p>
These operations permit the management of user accounts in accordance to their
lifecycle. This lifecycle is graphically defined in the figure on the right, in
which a given user account passes through the different states that are 
permitted within this system.
</p>

<center>
<figure style='float:right;'>

    <br/><br/>
    <embed class='__embeded_svg' width='375px' src="{% static 'images/satnet-UserManagement.svg' %}"></embed>
    <br/><br/>
    <figcaption style='font-weight:bold;'>User Account Lifecycle</figcaption>
    <br/><br/>
</figure>
</center>

<p>
<ol>
    <li>Users are initially <b>unregistered</b>.</li>
    <li>In order to access to the system, they need to create an account in the
        system. This account creation will appear as a <b>pending</b> to any
        staff user.</li>
    <li>When a user makes a registration of a given email address in the
        system, the server automatically sends a verification email to the
        user.</li>
    <ul>
        <li>The link provided expires after 4 days. If it was not used, the
            still existing but <i>inactive</i> account will be deleted by
            the system maintenance periodic task.</li>
    </ul>
    <li>After the user confirms its email address, all staff for the site are
        notified through email and must accept the new user before it gets
        access to the system:
    <ul>
        <li>In case the information provided by users cannot be trusted, staff
            users can <b>delete</b> that request.</li>
        <li>If the request is repeated several times with the same email 
            address, staff users can <b>block</b> that email address so that
            subsequent requests will not appear as pending again.</li>
    </ul>
    <li>Those who get accepted into the system will receive a notification
    through email.</li>
    <li>Accepted users can be either blocked or deleted, as required.</li>
</ol>
</p>

<h2>Exceptional Maintenance Operations</h2>

<p>Since <i>exception</i> operations, by definitions, cannot be defined 
beforehand, this section simply presents the set of tools available for dealing 
with these issues.

These tools can only be accessed within the same network of the server node.

<ul>
    <li>
        <a class='link' href="{% url 'admin:index' %}">Django Admin</a>
        , an external Django application manager.
    </li>
    <li>
        <a class='link' href="{% url 'phppgadmin' %}">PhpPgAdmin</a>
        an external database management tool.
    </li>
</ul>
</p>