{% extends 'base.html' %}

{% comment %}
   Copyright 2013, 2014 Ricardo Tubio-Pardavila

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
{% endcomment %}

{% load i18n %}
{% load staticfiles %}

{% block head %}

    <!-- Official CDNs -->
    <link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.6.0/loading-bar.min.css' />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/angular.gantt/latest/angular-gantt.min.css'/>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/angular.gantt/latest/angular-gantt-plugins.min.css'/>


    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-cookies.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-resource.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.6.0/loading-bar.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment-with-locales.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>
    <script src='https://tombatossals.github.io/angular-leaflet-directive/dist/angular-leaflet-directive.min.js'></script>
    <script src="//cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
    <script src='https://cdn.jsdelivr.net/angular.moment/latest/angular-moment.min.js'></script>
    <script src='https://cdn.jsdelivr.net/angular.gantt/latest/angular-gantt.min.js'></script>
    <script src='https://cdn.jsdelivr.net/angular.gantt/latest/angular-gantt-plugins.min.js'></script>
    <script src='https://js.pusher.com/2.2/pusher.min.js'></script>
    <script src='https://cdn.jsdelivr.net/angular.pusher/latest/pusher-angular.min.js'></script>

    <!-- KEPT BACK FOR COMPATIBILITY -->
    <script type='text/javascript' src="{% static 'lib/ui-bootstrap-tpls.min.js' %}"></script>
    <!-- Local depedencies (BOWER) -->
    <link rel='stylesheet' href="{% static 'lib/nya-bs-select.min.css' %}"/>
    <script type='text/javascript' src="{% static 'lib/nya-bs-select.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'lib/ngRemoteValidate.js' %}"></script>
    <script type='text/javascript' src="{% static 'lib/uuid.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'lib/jsonrpc.js' %}"></script>
    <link rel='stylesheet' href="{% static 'lib/leaflet.label.css' %}"/>
    <script type='text/javascript' src="{% static 'lib/leaflet.label.js' %}"></script>
    <script type='text/javascript' src="{% static 'lib/angular-idle.min.js' %}"></script>
    <link rel='stylesheet' href="{% static 'lib/datetimepicker.css' %}"/>
    <script type='text/javascript' src="{% static 'lib/datetimepicker.js' %}"></script>
    <script type='text/javascript' src="{% static 'lib/angular-timer.min.js' %}"></script>
    <!-- NON-BOWER LIBRARIES -->
    <script type="text/javascript" src="{% static 'lib/L.Terminator.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/MovingMarker.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/Leaflet.Geodesic.min.js' %}"></script>

    <!-- ################################################################### -->
    <!-- ################################################## Angular Material -->
    <!-- ################################################################### -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <!-- ################################################################### -->

    <script type="text/javascript">
        $(document).ready(function() {
            $("#toolbar").toggle('slide', { direction: 'left' }, 500);
        });
    </script>

    {% block app_head %}
    {% endblock %}

{% endblock %}

{% block content %}
{% endblock %}

{% block content_footer %}
{% endblock %}
{% block license_footer %}
{% endblock %}