{% extends 'angular/base.html' %}

{% comment %}
   Copyright 2013, 2014 Ricardo Tubio-Pardavila

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
{% endcomment %}
{% load i18n %}
{% load staticfiles %}

{% block app_head %}
    <link rel='stylesheet' href="{% static 'satnet-ng.min.css' %}" />
    <script type='text/javascript' src="{% static 'satnet-ng.js'%}"></script>
    <script type='text/javascript' src="{% static 'satnet-ng-tpls.js'%}"></script>
{% endblock %}

{% block content %}

{% verbatim %}
<div ng-app='satnet-ui'>

    <div ng-controller='MapController' ng-init="init()" >
        <leaflet id='mainMap'
            center='center' markers='markers' layers='layers' paths='paths'
            style='position: absolute; top: 0; left: 0; width: 100%; height: 100%;'>
        </leaflet>
    </div>

<div class='left-menu'>

    <div class='btn-group my-exit-btn-grp' ng-controller="ExitMenuCtrl">
        <button type='button' class='btn btn-primary my-exit-btn'
                onclick="location.href='/'"  ng-click="home()">
            <a style="color: white;">(exit)</a>
        </button>
    </div>

    <!-- Single button -->
    <div class='btn-group my-gs-btn-grp' is-open="status.isopen" dropdown
            ng-controller="GSMenuCtrl">
        <button type='button'
                class='btn btn-primary dropdown-toggle my-dd-btn my-btn-250px'
                ng-click="refreshGSList()">
            <p>Ground Stations</p><span class='caret'></span>
        </button>
        <ul class='dropdown-menu' role='menu'>
            <li ng-repeat="g in gsIds">
                <a class='my-menu-item' href='#'
                   ng-click="editGroundStation(g)">{{ g }}</a>
            </li>
            <li class='divider'></li>
            <li>
                <a href='#' ng-click="addGroundStation()">(+) ground station</a>
            </li>
        </ul>
    </div>
    <div class='btn-group my-sc-btn-grp' is-open="status.isopen" dropdown
            ng-controller="SCMenuCtrl">
        <button type='button'
                class='btn btn-primary dropdown-toggle my-dd-btn my-btn-250px'
                ng-click="refreshSCList()">
            <p>Spacecraft</p><span class='caret'></span>
        </button>
        <ul class='dropdown-menu' role='menu'>
            <li ng-repeat="s in scIds">
                <a class='my-menu-item' href='#'
                   ng-click="editSpacecraft(s)">{{ s }}</a>
            </li>
            <li class='divider'></li>
            <li>
                <a href='#' ng-click="addSpacecraft()">(+) spacecraft</a>
            </li>
        </ul>
    </div>

</div>

<log-notifier></log-notifier>

</div>
{% endverbatim %}

{% endblock %}

{% block content_footer %}
{% endblock %}
{% block license_footer %}
{% endblock %}