{% extends "users/users_base.html" %}
{% load i18n %}

{% block toolbar %}

    {% if request.user.is_authenticated %}
        {% if request.user.is_staff %}
            <table id='staff-menu'>
                <tr><td id='staff-e-login' colspan='2'>
                    <a class='staff-login'>{{ user.username }}<b>
                        (STAFF)
                    </b></a>
                </td></tr>
            </table>
            <hr id='hr'/>
            <table id='staff-menu'>
                <tr><td rowspan='4'>
                        <p class='vertical-text'>User Management</p>
                    </td>
                    <td class='staff-e'>
                    <a class='button-entry' href="{% url 'pending' %}">
                        Pending
                    </a>
                </td></tr>
                <tr><td class='staff-e'>
                    <a class='button-entry' href="{% url 'blocked' %}">
                        Blocked
                    </a>
                </td></tr>
                <tr><td class='staff-e'>
                    <a class='button-entry' href="{% url 'verified' %}">
                        Verified
                    </a>
                </td></tr>
                <tr><td class='staff-e'>
                    <a class='button-entry' href="{% url 'inactive' %}">
                        Inactive
                    </a>
                </td></tr>
            </table>   
        {% endif %}
    {% endif %}
    <hr id='hr'/>

{% endblock %}

