{% extends "users/users_base.html" %}
{% load i18n %}

{% block toolbar %}

    {% if request.user.is_authenticated %}
            <table id='staff-menu'>
                <tr><td id='staff-e-login'>
                    <a class='staff-login'>{{ user.username }}<b>
                        (USER)
                    </b></a>
                </td></tr>
            </table>
            <hr id='hr'/>
            <table id='staff-menu'>
                <tr><td class='staff-e'>
                    <a class='button-entry'> {# href="{% url 'spacecraft' %}"> #}
                        Spacecraft
                    </a>
                </td></tr>
                <tr><td class='staff-e'>
                    <a class='button-entry'> {# href="{% url 'groundstations' %}"> #}
                        Ground Stations
                    </a>
                </td></tr>
            </table>   
    {% endif %}
    <hr id='hr'/>
                
{% endblock %}

