{% extends "registered.html" %}
{% load i18n %}

{% block toolbar_content %}

{% if request.user.is_authenticated %}

    <hr />
    
    <div><a id='button_profile' class='toolbar_button'
            href="{% url 'user_profile' %}">
            Profile
    </a></div>
    
    <div><a id='button_sc' class='toolbar_button'>
            {# href="{% url 'spacecraft' %}"> #}
                        {% trans 'Spacecraft' %}
    </a></div>
    
    <div><a id='button_gs' class='toolbar_button'
            href="{% url 'list_groundstations' %}" >
                        {% trans 'Ground Stations' %}
    </a></div>

{% endif %}            
{% endblock %}

