{% extends "staff/staff_home.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
<script type="text/javascript">
        $.ajaxSetup({
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
    </script>
<script type="text/javascript" src="{% static 'scripts/reg-engine.js' %}"/>
    </script>
{% endblock %}

{% block content %}

    <div>
    
{% block reg-heading %}
    <h1>Pending Requests</h1>
{% endblock %}

    <br/>
    
    <div id='user-selection' style='float:left;'>
    <form class='pending-reg' action='.' method='post'>{% csrf_token %}
    <table class='rr-table'>

        <tr>
            <td colspan='2'>
                <input type='submit' value="{% trans 'Submit' %}"/>
            </td>
            <td class='rr-e-t' width=150px>
                <center>(on selected)</center>
            </td>
            <td width='125px'/>
        </tr>
        
        <tr>
            <td colspan='2'/>
            <td class='rr-e'>
            
{% block reg-actions %}
                <a id='verify'  class='green-action'>(V)</a>
                <a id='block'   class='action'>(B)</a>
                <a id='delete'  class='red-action'>(X)</a>
{% endblock %}

            </td>
            <td width='125px'/>
        </tr>
        
        <tr>
            <td class='row-separator' colspan='3' style='padding:1px;'/>
            <td width='125px'/>
        </tr>
        
        <tr>
            <td class='rr-e-t' width='60px'>Username</td>
            <td class='rr-e-t' width='130px'>Organization</td>
            <td class='rr-e-t'>(select)</td>
            <td width='125px'/>
        </tr>
        
        <tr>
            <td class='row-separator' colspan='3' style='padding:1px;'/>
            <td width='125px'/>
        </tr>

{% for r in user_list %}

            <tr>
                <input type='hidden' id="h_{{ r.pk }}" name="op_{{ r.pk }}" value=''/>
                <td class='rr-e' id="n_{{ r.pk }}">{{ r.username }}</td>
                <td class='rr-e'>{{ r.organization }} ({{ r.country }})</td>
                <td class='rr-e-select'>
                    <input type='checkbox' class='userCheck' id="c_{{ r.pk }}"/>
                    <a class='undo' style='display:none' id="u_{{ r.pk }}">
                        (undo)
                    </a>
                </td>
                <td width='125px'/>
            </tr>
            
            <tr>
                <td class='row-separator' colspan='3'/>
                <td width='25px'/>
                    <div id="hanger_{{ r.pk }}"></div>
                </td>
            </tr>

{% endfor %}
        
    </table></form></div>

    <div id='details' style='display:none;float:left;'>
    
        <table id='table-details' class='table-user-details'>
            <tr>
                <td class='rr-e-t' width='100px'>
                    Details
                </td>
                <td class='rr-e-t' width='200px'/>
            </tr>
            <tr>
                <td class='rr-e'>Username:</td>
                <td class='rr-e' id='details-username'></td>    
            </tr>
            <tr>
                <td class='rr-e'>e-m@il:</td>
                <td class='rr-e' id='details-email'></td>
            </tr>
            <tr>
                <td class='rr-e'>Name:</td>
                <td class='rr-e' id='details-name'></td>
            </tr>
            <tr>
                <td class='rr-e'>Organization:</td>
                <td class='rr-e' id='details-organization'></td>    
            </tr>
            <tr>
                <td class='rr-e'>Country:</td>
                <td class='rr-e' id='details-country'></td>    
            </tr>
        </table>
    </div>
    
    </div>
    
{% endblock %}

{% block content_footer %}
{% endblock %}
{% block license_footer %}
{% endblock %}

