{% extends "users/users_home.html" %}

{% load i18n %}
{% load staticfiles %}
{% load leaflet_tags %}

<!-- ############################################################ SCRIPTING -->
{% block head %}
<style>
    div#map_set_gs_location .leaflet-container {
        width:  600px;
        height: 400px;
    }
</style>

{% leaflet_js %}
{% leaflet_css %}

<link rel="stylesheet" href="{% static 'css/Control.OSMGeocoder.css' %}" />
<link rel="stylesheet" href="{% static 'css/Leaflet.Coordinates-0.1.4.css' %}" />

<script type="text/javascript" src="{% static 'scripts/Control.OSMGeocoder.js' %}">
    </script>
<script type="text/javascript" src="{% static 'scripts/Leaflet.Coordinates-0.1.4.min.js' %}">
    </script>
<script type="text/javascript" src="{% static 'scripts/map-engine.js' %}">
    </script>

<script type="text/javascript">

    function __map_set_gs(map, options)
    {
        __init_map(map, options);
    }

</script>
{% endblock %}

<!-- ################################################################# BODY -->
{% block content %}

<h1>(+) Add Ground Station</h1>
    <br/>
    <p><b style='color:#A22D2D;'>
        {% trans 'Owner:' %} {{ request.user.username }}
    </b></p>

<form class="user-profile" action="." method="post" style='width:600px'>
    {% csrf_token %}

    <hr class='spacer'/>
    <h2>STEP 1: Set location </h2>
    <br/>
    <div id='map_set_gs_location' onKeyPress="var key = event.keyCode || event.which; if (key == 13) return false;">
        {% leaflet_map "set_gs_location" callback="window.__map_set_gs" %}
    </div>
    <br/>
    
    <hr class='spacer'/>
    <h2>STEP 2: Define your station </h2>
    <br/>
    {{ form.as_p }}
    <br/>

    <hr class='spacer'/>
    <br/>

    <input type="submit" value="(+) {% trans 'add' %}" />

</form>

<br/>
<p><i>( back <a class='link' href="{% url "index" %}">
    Home</a>? Changes will be lost. )
</i></p>

{% endblock %}
