{% extends "users/users_home.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/lists.css' %}" />

{% endblock %}

{% block content %}

    <h2>Configuration</h2>
        <br/>
    
    <div class='list-row'>
        <div class="list-cell list-cell-link" ><a>{{ g.identifier }}</a></div>
        <div class="list-cell list-cell-info" >
            <ul class='results-list'>
                <li><b>Radio Callsign</b>: {{ g.callsign }}</li>
                <li><b>Contact elevation (deg)</b>: 
                        {{ g.contact_elevation|floatformat:2 }}</li>
                <li><b>Coordinates</b>:
                        ({{ g.latitude|floatformat:4 }}, 
                            {{ g.longitude|floatformat:4 }})</li>
            </ul>
        </div>
    </div>
    
    <br/>
    <div class='list-row'>
        <div class="blank-list-cell" ></div>
        <div class="list-cell list-cell-info" >
            
{% if channels|length == 0 %}
            <div><p style='text-align: center;'><b><i>(no channels)</i></b></p></div>
{% else %}

    {% for c in channels %}

            <div class='list-row'>
                <div class='list-cell' ></div>
                <div class='list-cell' ></div>
            </div>

    {% endfor %}

{% endif %}
            
            <div><a id='add_channel_button' class="link dialog-button"
                    value="{{ g.identifier }}"
                    style='text-align: center;'>
                    Add channel (+)
            </a></div>

        </div>
    </div>

        <br/>
    <h2>Operation Slots</h2>
        <br/>


{% include 'components/add_channel_dialog.html' with dialog_id='add_channel' dialog_title='Configure Channel' %}

{% endblock %}
