{% comment %}
   Copyright 2013, 2014 Ricardo Tubio-Pardavila

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
{% endcomment %}

{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

    <title>The SATNet Network</title>

    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    {% include 'session_security/all.html' %}

    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' />


    <style type='text/css'>
        .mark-div { border: 1px dashed white; }
    </style>
    <link rel="stylesheet" href="{% static 'satnet-web.min.css' %}"   />

    {% block head %}
    {% endblock %}

</head>
<body>
    
    <div id='logo'>
    </div>

    <div id='content'>

{% block content %}
{% endblock %}

{% block content_footer %}
    <br/>
    <p><span style="font-style: italic;">
        ( back <a class='link' href="{% url 'index' %}">Home</a>? )
    </span></p>
{% endblock %}

{% block license_footer %}

<div class='license-footer'>
<div style="text-align: center;">
<br/>
<hr/>
<a rel="license"
    href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
    <embed width='75px'
           src="{% static 'images/cc-3.0-by-sa-ICON.svg' %}" ></embed>
</a>
</div>
</div>

{% endblock %}

    </div>

    <div id='toolbar'>

        <div id='toolbar_header'>
            <embed height='125px' width='200px'
                   src="{% static 'images/logo.svg' %}">
            </embed>
            <br/><br/>
        </div>

        <div id='toolbar_login'>

{% block toolbar_login %}

            <div>
                <a class='toolbar_button' href="{% url 'account_login' %}" >
                    {% trans 'Access' %}
                </a>
            </div>
            
{% endblock %}
                    
        </div>

        <div id='toolbar_content'>
{% block toolbar_content %}
            
            <div>
                <a class='toolbar_button' href="{% url 'index' %}" >
                    {% trans 'Home' %}
                </a>
            </div>
            
{% endblock %}
        </div>

        <div id='toolbar_extra'>
{% block toolbar_extra %}
{% endblock %}
        </div>

        <div id='toolbar_footer'>
        </div>

    </div>

</body>

