{% extends "base.html" %}

{% comment %}
   Copyright 2013, 2014 Ricardo Tubio-Pardavila

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
{% endcomment %}

{% load i18n %}
{% load staticfiles %}

{% block content %}

<h2>Overview</h2>

<p>The <b>SATNet</b> network is a software development project hosted at
<a class='link' href="https://github.com/satnet-project/satnet-main/wiki">
GitHub</a>. Its objective is to develop the software for the nodes of a 
communications network that shares Ground Stations among CubeSat operators.</p>

<figure style='float:right; text-align: center'>

    <embed class='__embeded_svg' width='500px'
            src="{% static 'images/satnet-NetworkTopology.svg' %}">
        </embed>

    <br/><br/>
    <figcaption style='font-weight:bold;'>Basic network topology</figcaption>
</figure>

<p>A simplified description for the network topology is provided in the figure
on the right. The SATNet network is intended to be composed of several
independent <b>subnetworks</b> that can be interconnected, either for sharing
resources or for redundancy.</p>

<p>The <b>server nodes</b> are the core for each subnetwork, enabling the 
sharing of the resources of its <b>client nodes</b> across other subnetworks. 
Ground Station owners will define their availablity and sharing rules, so that 
restrictions may apply when connecting those facilities to Spacecraft Operations 
Centres. Subnetworks may be private if so defined, restricting the share of 
resources only in between its members.</p>

<p>The complete description of the system can be found in the wiki site enabled
at <a class='link' href="https://github.com/satnet-project/satnet-main/wiki">
Wiki</a>.</p>

{% endblock %}

{% block content_footer %}
{% endblock %}