{% comment %}
   Copyright 2013, 2014 Ricardo Tubio-Pardavila

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
{% endcomment %}

<h1>Users' Home</h1>

<p>
    This page is the home for the users of the system, this is, either Ground
Station or Mission Operators who have registered their resources within this
server.
</p>

<p>
    The main services that this simple page offers to the users are the
    following:
    <ul>
        <li>update their personal information in the <i>user profile</i>
            section,</li>
        <li>access to the operational services of the network through
            the <i>C2 Interface</i>,</li>
    </ul>
</p>
