{% extends 'registered.html' %}

{% comment %}
   Copyright 2013, 2014 Ricardo Tubio-Pardavila

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
{% endcomment %}

{% block content %}
    {% include 'users/users_index.html' %}
{% endblock %}

{% block content_footer %}
{% endblock %}

{% block toolbar_content %}
{% if request.user.is_authenticated %}
    <hr />
    <div id='button_divx'>
        <a id='button_operations'
           class='toolbar_button' href="{% url 'operations_interface' %}">
            Operations
        </a>
    </div>
    <div id='button_divx'>
        <a id='button_messages'
           class='toolbar_button' href="{% url 'comms_passive_messages' %}">
            Passive
        </a>
    </div>
{% endif %}
{% endblock %}