{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>{% block title %}The SATNet Network{% endblock %}</title>
    <link href="{% static 'css/style.css'%}" rel="stylesheet"/>
    <link href="{% static 'css/tables.css'%}" rel="stylesheet"/>
    
    <!--
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    -->

    <script type="text/javascript" src="{% static 'scripts/jquery.min.js' %}"></script>
    <!--
    <script type="text/javascript" src="{% static 'scripts/jquery-migrate-1.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/jquery-ui.min.js' %}"></script>
    -->
    
    <script type="text/javascript">
        $.ajaxSetup({
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
    </script>
    <script type="text/javascript" src="{% static 'scripts/reg-engine.js'%}"/></script>
    {% include 'session_security/all.html' %}
</head>

<body>

    <div id='content'>
        <div id='sidebar'>
            <div id='sidebar-header'>
            </div>
            <hr id='hr'/>
            <table id='sidebar-menu'>
                
                {% if request.user.is_authenticated %}
                   <tr><td id='menu-e'>
                       <a class='menu-l' href="{% url 'auth_logout' %}">
                           (Log out)
                       </a>
                   </td></tr>
                   
                {% else %}
                    <tr><td id='menu-e'>
                        <a class='menu-l' href="{% url 'index' %}">
                            Home
                        </a>
                    </td></tr>
                    <tr><td id='menu-e'>
                        <a class='menu-l' href="{% url 'auth_login' %}">
                            Log in/Register
                        </a>
                    </tr></td>
                {% endif %}
                
            </table>
            <hr id='hr'/>

            {% block toolbar %}
            {% endblock %}
            
            <div id='sidebar-footer'>
                <br/>&copy; 2013 - polysat.calpoly.edu
            </div>
        </div>
        <div id='page'>{% block content %}{% endblock %}</div>
    </div>

</body>

</html>

