{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<h1>System Access</h1>
<br/>

<form class='login' action="." method="post">{% csrf_token %}

    <div id='login-form'>
        
        <table>
        <tr>
            <td width='300px'>
            <center>
                {{ form.as_p }}
                <br/>
                <input type="submit" value="{% trans 'Log in' %}" />
            </center>
            </td>
            <td class='col-separator' />
            <td style='padding:50px;'>
                <p><a class='button-dark' href="{% url 'auth_password_reset' %}">
                    {% trans 'Reset your password' %}</a></p>
                <p><a class='button-dark' href="{% url 'registration_register' %}">
                    {% trans 'Register' %}</a></p>
            </td>
        </tr>
        </table>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}

