{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block content %}
<h1>Password Reset</h1>
<span>For re-setting your password, submit the email that was given during
the registration process. An email with instructions for resetting the 
password of the account associated with the given email will be sent
afterwards.</span>
<br />
<br />
<form class='user-profile' method="post" action=".">{% csrf_token %}
  {{ form.as_p }}

    <br />  
    <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}

