{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
    
    <script type="text/javascript" >
        $(document).ready(function(){
            $( "#id_username" ).puiinputtext();
            $( "#id_first_name" ).puiinputtext();
            $( "#id_last_name" ).puiinputtext();
            $( "#id_email" ).puiinputtext();
            $( "#id_countries" ).puidropdown();
            $( "#id_organization" ).puiinputtext();
            $( "#id_password" ).puipassword();
        });
    </script>
    
{% endblock %}

{% block content %}

<h1>User Registration</h1>

<form class="user-profile" action="." method="post">{% csrf_token %}
    {{ form.as_p }}

    <br/>
    <input type="submit" value="{% trans 'Submit' %}" />
</form>

{% endblock %}

