<input type='checkbox' name='passes-toggle' id='passes-toggle' />
<div ng-controller="passSlotsCtrl" class='passes-area'>
    <div class='passes-title'>
        <label for='passes-toggle'></label>
    </div>
    <div ng-hide="data.length">
        <p class='no-items-red'>(no passes)</p>
    </div>
    <div ng-show="data.length"
         gantt class='passes-content'
         data="data" allow-side-resizing="false" auto-expand="both"
         template-url="templates/passes/myGanttTpl.html">
        <gantt-labels></gantt-labels>
        <gantt-movable></gantt-movable>
        <gantt-tooltips></gantt-tooltips>
    </div>
    <div style="height: 25px"></div>
</div>